.header {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fafafa;
  border-bottom: 3px solid #eaeaea;
}

.headerTitle {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
